@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif
}

.container {
  height: 100vh;
  width: 100vw
}

header {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
}

.logo {
  color: whitesmoke;
  font-family: 'Pacifico', cursive;
  font-size: 4em;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
}

a {
  text-decoration: none;
  color: darkslategray;
}

table {
  border: 1px solid black;
  border-radius: 10px;
}

/* td, th {
  vertical-align: middle;
} */

.table-hover>tbody>tr:hover>* {
  font-weight: bold;
  background-color: #ecfdf2;
}

thead {
  background-color: rgb(141, 197, 180);
}
.header-link{
  color:rgb(47, 79, 79)
}
.header-link:hover{
   color: white;
  font-weight: bold;
  padding: 0px;
}
a:hover {
  color: white;
  font-weight: bold;
}

.btn-primary {
  background-color: rgb(84 190 159);
  border-color: rgb(84 190 159);
  font-weight: bold;
}

.btn-primary:hover {
  background-color: rgb(77 184 195);
  border-color: rgb(77 184 195);
}

.modal-body input {
  width: 50%;
}

.login-form{
  margin-top: 3em;
  max-width: 400px;
}
.smallFont{
  font-size: 12px;
}